@charset "UTF-8";
/* CSS Document */


body
{
	height:100%;
	width:800px;
	z-index:1;
	margin-left:25%;
	margin-right:auto;
	margin-left:auto;
	overflow-y: scroll;
	overflow-x: hidden;
	background:url(FugueBackDrop.png) top center no-repeat; background-position:fixed; background-color:#13031f;
	
}
/*.section
{
	margin-top:px;
	height:75%;
	width:800px;
	background-color:yellow;
	z-index:2;
	border-right:6px;
	position:absolute;
	
}*/

#backDrop
{
<<<<<<< HEAD
/*background-color:#036;*/
background-origin:content-box;
=======
/*background-image:url(Sand%20tile.png);*/
background-size: 32px auto;
background-origin:content-box;
background-repeat:repeat-x:repeat;
background-color: #CCC;
>>>>>>> 49c0bca861dd02eb7fca63ebac36cc0b51c06ce6
position:absolute;
background-position:50% -2%;

}

.backsplash
{	
				background-image:url(TopBar.png);
				background-size: 70px auto;
				background-origin:content-box;
				background-repeat:repeat;
				border-radius:5px;
				
	top:80px;
	height:70px;
	margin-left:110px;
	width:600px;
	background-color:#F00;
	position:absolute;	
	
	
}


/*-------------------CONTENT SECTIONS--------------------*/
.leftBorder
{
	height:84%;
	width:130px;
	padding:0;
	position:absolute;
	margin-top:160px;
	border-radius:6px;
}

.mainArea
{
	height:auto;
	width:730px;
	padding:0;
	position:absolute;
	margin-top:160px;
	margin-left:90px;
	border-radius:6px;
}

.textSelection
{
	width:90%;
	height:auto;
	padding:4px;
	background-color:#666;
	border-radius:6px;
	margin:16px;
	color:#0FF;
	font-family: AdvoCut;
	
		transition: opacity .5s ease;
		opacity:.6;
}

.textSelection:hover
{
	opacity:1;
}


/*-------------------END--------------------*/



/*-------------------TOP BUTTONS--------------------*/
.nav
{
	list-style-type: none;
	
	margin:0;

	center:0
	display:inline;
	text-align:center;
	
}

.button
{	
	transition: background-color 0.5s ease;
	background-color:black;
	padding:5px;
	margin:7px;
	border-radius:5px;
	display:inline-block;
}


.nav a:link
{
	font-family: silkscreen;
	color:#06F;
	text-decoration:none;
	font-size:20px;
	display:inline-block;
	padding:12px;
}
.button a:visited
{
	text-decoration:none;
	color:#06F;
}

.button:visited
{
	text-decoration:none;
}

.button:hover
{
	background-color: #CCC;
}

.button a:hover
{
	color:cyan;
}

/*-------------------END--------------------*/




.header
{
	
}



