@charset "UTF-8";
/* CSS Document */


body
{
	height:100%;
	width:800px;
	z-index:1;
	margin-left:25%;
	margin-right:auto;
	margin-left:auto;
	overflow-y: scroll;
	overflow-x: hidden;
	
	background-color:#036;


}

/*.section
{
	margin-top:px;
	height:75%;
	width:800px;
	background-color:yellow;
	z-index:2;
	border-right:6px;
	position:absolute;
	
}*/

#backDrop
{
background-image:url(Sand%20tile.png);
background-size: 32px auto;
background-origin:content-box;
background-repeat:repeat-x:repeat;
background-color: #00003b;
position:absolute;
background-position:50% -2%;

}

.backsplash
{	
				background-image:url(TopBar.png);
				background-size: 140px auto;
				background-origin:content-box;
				background-repeat:repeat;
				background-color: #00003b;
	top:0;
	left:0;
	height:140px;
	width:100%;
	background-color:#F00;
	position:absolute;	
	
}


/*-------------------CONTENT SECTIONS--------------------*/
.leftBorder
{
	height:84%;
	width:130px;
	padding:0;
	position:absolute;
	margin-top:160px;
	border-radius:6px;
}

.mainArea
{
	height:auto;
	width:730px;
	padding:0;
	position:absolute;
	margin-top:160px;
	margin-left:150px;
	border-radius:6px;
}

.textSelection
{
	width:90%;
	height:auto;
	padding:4px;
	background-color:#666;
	border-radius:6px;
	margin:16px;
	color:#0FF;
	font-family: AdvoCut;
	
		transition: opacity .5s ease;
		opacity:.6;
}

.textSelection:hover
{
	opacity:1;
}


/*-------------------END--------------------*/



/*-------------------TOP BUTTONS--------------------*/
.topBarList
{
	
	list-style-type: none;
	position:absolute;
<<<<<<< HEAD
	top:0px;
=======
	top:0;
>>>>>>> a9efba663685ba1e1c21e99c7ff96009651448fd
	
}

.button
{	
	transition: background-color 0.5s ease;
	background-color:black;
	padding:30px;
	margin:7px;
	border-radius:5px;
	display:inline-block;

	
}


.button a:link
{
	font-family: silkscreen;
	color:#06F;
	text-decoration:none;
	font-size:36px;
}
.button a:visited
{
	text-decoration:none;
	color:#06F;
}

.button:visited
{
	text-decoration:none;
}

.button:hover
{
	background-color: #CCC;
}

.button a:hover
{
	color:cyan;
}

/*-------------------END--------------------*/




.header
{
	
}



